
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'BPreplay';
  src: url('https://drive.google.com/file/d/0B850chTAYScZTnE4THM4dXl4YTA/view?usp=sharing') format('opentype')
}

h1, h2 {
  font-family: 'BPreplay', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

h1 {
    font-size:55px; 
    font-weight:normal;
}

h2 {
    font-size:18px; 
    font-weight:normal;
    line-height: .2;
}

h3 {
    color:#059adf;
    font-size:24px; 
    font-weight:normal;
}


body {
  font-size:14px;
  font-weight:normal;
  line-height:1.7;
  font-family:'BPreplay', Helvetica, Arial, sans-serif;
  color:#ffffff;
  padding: 0;
  margin: 0;
  
}

#hero1{
 background:url(https://drive.google.com/thumbnail?id=0B850chTAYScZLXZqZ3l4ZTZBTEk&authuser=0&v=1429656289026&sz=w2560-h2202) no-repeat top center;
  background-size:cover;
}